* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #a9d0ff 0%, #ffffff 100%);
  min-height: 100vh;
  color: #333;
}

#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  display: none;
  padding: 20px;
  animation: fadeIn 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 40px;
  max-width: 900px;
  width: 100%;
}

/* Main Screen */
.logo {
  font-size: 8rem;
  font-weight: bold;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  background-clip: text;
  text-align: center;
  margin-bottom: 40px;
  animation: motion 1s linear 0s infinite alternate;
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.subtitle {
  text-align: center;
  color: #76bbff;
  margin: 40px 0;
  font-size: 2rem;
}

@keyframes motion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

/* Buttons */
.primaryBtn {
  width: 140px;
  height: 140px;

  border: none;
  /* padding: 15px 40px; */
  font-size: 1.6rem;
  border-radius: 160px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  background: white;
  color: #90c7ff;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 5px 15px;
}

.primaryBtn:hover:not(:disabled) {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);
  color: white;
  background: #90c7ff;
  box-shadow: rgba(3, 102, 214, 0.5) 0px 5px 15px;
}

.primaryBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-secondary {
  background: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background: #e0e0e0;
}
